<a href="https://colab.research.google.com/github/PappaLaity/DS-Algo-SD-Resources/blob/master/Pappalaity_AMMI_Courses_Intro_to_Python_Tutorial_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


![python.webp]()



*   **A great library ecosystem:**

Python boasts a rich ecosystem of libraries and frameworks specifically designed for machine learning and data science.
*   **Flexibility**:

It offers an option to choose either to use OOPs or scripting.Also, there’s also no need to recompile the source code, Python developers can implement any changes and quickly see the results.Finally, Programmers can combine Python and other languages to reach their goals.
*   **Ease of Learning**:

Python is known for its readability and simplicity. Its syntax is clear and concise, making it accessible to beginners.
*   **Versatility/Platform independence**:

Python for machine learning development can run on any platform including Windows, MacOS, Linux, Unix, and twenty-one others.
*   **Integration Capabilities/Readability**:

Python is very easy to read so every Python developer can understand the code of their peers and change, copy or share it.
*   **Community Support**:  

Python is an open-source language which means that there’s a bunch of resources open for programmers starting from beginners and ending with pros.
*   **etc**.


**Reference:** [Why learning python](https://djangostars.com/blog/why-python-is-good-for-artificial-intelligence-and-machine-learning/)


*   Useful links

[Python Official Doc](https://docs.python.org/3/)

[The Hitchhikers guide to python](https://python-guide-pt-br.readthedocs.io/fr/latest/intro/learning.html)

# Hello World

In [ ]:
print ("Hello world!")

Hello world!

In [ ]:
print('Hello world')

Hello world

# Variables

if we need to store some value we can use python variables to allocate memory for this value and reference this allocated memory space.

The syntax for defining variables in python is
`variable_name = value`.

the value can be of any python datatype.
- `int`
- `float`
- `str`
-  etc ..

## Variable Assignment

In [ ]:
age = 26 # int
country = "senegal" # string
height = 13.5 # float
isAvailable = True # boolean

## Variable re-assignment and multiple variable assignment

We can re-assign an already declared variable to a new value

In [ ]:
country = 'Senegal'
country = 'Egypt'

We can also assign multiple variables to their values in a single line

In [ ]:
name = 'adam'
country = 'Cameroon'

In [ ]:
name, country, age = 'Adam', 'Senegal', 26

In [ ]:
the teacher = 10

SyntaxError: invalid syntax (<ipython-input-2-d146716b14b2>, line 1)

the variable name should satisfy some conditions
- it should not be a keyword

python keywords :
  ```['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']```
- should start with a letter
- should not include special characters like `!,&,@,#,$`, '_' is allowed.
- should not include spaces

Note: python variables are case sensitive
`Variable` is not eqivalent to `variable`  
it is a good practice to use descriptive variable names.
For example `count = 10` instead of `c = 10` and `training_error = 0.05` instead of `e = 0.05`

In [ ]:
name = 'input'

In [ ]:
# some valid and invalid variable names

core = 89
hello_world = 6
true = "string"

# Comments

If we want to write a description or an explanation for our python code we can use comments.
Comments are ignored by the python interpreter.

We can write comments by preceding the comment text by the `#` symbol. This is called a single line comment.

or we can use the triple single quotes or triple double quotes for multi-line comments (both are equivalent in python).

In [ ]:
# different ways for writing comments in python, this way (single line comment)

'''
this
is
a
multi-line
comment
'''

"""
this
is
also
a
multi-line
comment
"""

'\nthis\nis\nalso\na\nmulti-line\ncomment\n'

# Data types

- Numeric : int, float, complex
- string : str/ sequence of characters
- boolean : bool/ True, False values
- Sequence : list, tuple/ sequence of objects
- Mapping : dict/ key value mapping
- Set : set/ unordered collection of objects

In [ ]:
m = 10j + 2
v = 4j-5
print(m+v)

(-3+14j)

In [ ]:
# int
count = 10

# float
height = 13.5

# str
name = "Damaris"


# bool
visible = True

#list
subjects = ["Math", "History", "English",  "Chemistry"]

# tuple
countries = ("Senegal", "Cameroon", "Sudan", "Egypt")

# dict
country_capitals = {
    "Cameroon": "Yaounde",
    "Sudan" : "Khartoum",
    "Egypt" : "Cairo"
}

# set
cars = {"BMW", "VW", "Mercedes"}

# type built-in function to return the variable data type
print (type(count))
print (type(height))
print (type(name))
print (type(visible))
print (type(country_capitals))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'dict'>

In [ ]:
myname = [2, 2]
print(type(myname))

<class 'list'>

## Type Conversion/Casting

Two kinds of type conversion:
- Implicit Conversion : Performed by the python interpreter
- Explicit Conversion : Performed by calling the constructor of the type you want to convert the variable to

In [ ]:
# implicit type conversion by the python interpreter

age1 = 35
age2 = 10.3

print (type(age1))
print (type(age2))

result = age1+age2
print (type(result))

<class 'int'>
<class 'float'>
<class 'float'>

In [ ]:
# explicit type conversion
# e.g. convert an integer to string

age = 20
age_string = str(age)
print (type(age), type(age_string))

# convert a numeric string to int
number = "123"
number_int = int(number)
print (type(number_int), type(number))

# convert a string to a list of characters
our_string = "I love Python"
our_string_as_list = list(our_string)
print (our_string_as_list)

<class 'int'> <class 'str'>
<class 'int'> <class 'str'>
['I', ' ', 'l', 'o', 'v', 'e', ' ', 'P', 'y', 't', 'h', 'o', 'n']

# Operators

An operator is a special character or symbol used to perform an operation between variables and/or values

e.g. the `+` is the addition operator,
`5+7` performs the addition operation between two integers

### Arithmetic Operator

The arithmetic operators perform mathematical operations between literal values/variables

### `+` Addition
`-` Subtraction

`*` multiplication

`/` float/floor division

`//` integer division

`**` power

`%` Modulo (Returns the remainder of division)

In [ ]:
x = 10
y = 7
print (x+y)
print (x*y)
print (x/y)
print (x//y)
print (x**y)
print (x%y)

17
70
1.4285714285714286
1
10000000
3

## Comparison Operators

Comparison operators are used to compare variables/values and return a boolean result `True` or `False`

`==` is equal to operator , a == b, True if a=b , otherwise False

`!=` is not equal to , a!=b , True if a is not equal to b , otherwise false

`>` greater than , a>b , True if a is greater than b, otherwise False


`<` less than , a<b, True if a is less than b , False otherwise


`>=` greater than or equal , True if a is greater than or equal to b , False otherwise

`<=` less than or equal , True if a is less than or equal to b , False otherwise

## Assignment Operators

We use assignment operators to assign a value to a variable

`=` simple assignment

`+=` assignment with addition.  a+=2 Equivalent to a = a+2

`-=` assignment with subtraction.

`/=` assignment with division

`*=` assignment with multiplication

`%=` assignment with modulo

`**=` assignment with exponentiation

In [ ]:
a = 55
a +=5
print(a)
a/=2
print(a)

60
30.0

## Logical Operators

Logical operators are use to make decision by combining mutliple boolean expressions

`and` , `a and  b`, returns True if both `a` and `b` are True, otherwise False

`or`, `a or b`, returns True if either `a` or `b` is True, otherwise False

`not`, `not a`, returns True if `a`is False, otherwise True

In [ ]:
a = 7
b = 5

a == 7 or b ==4

True

In [ ]:
'a' not in 'orange'

False

# Strings

A python string is a sequence of characters enclosed within single quotes (') or double quotes ("). Strings are used to represent textual data, such as words, sentences, or any sequence of characters.
Some strings properties:


*  **Immutable**

Strings in Python are immutable, meaning once a string is created, its contents cannot be changed. You can, however, create a new string with the desired modifications.
*   **Ordered Sequence**

Strings maintain the order of characters in the sequence. You can access individual characters by their index.

In [ ]:
example_string = "abcdefg"

In [ ]:
von = "man"
von = "father"
von[0] = "t"

TypeError: 'str' object does not support item assignment

- create a string / single quote , double quote
- multi-line string
- string indexing / slicing, negative indexing
- strings are immutable
- string operations :  
  - comparison
  - concatenation
- string length
- string methods:
  - upper() : uppercase
  - lower() : lowercase
  - split() : split on some character
  - find() : finds the index of a substring
  - replace() : replaces a substring with another

- string formatting

## String Creation

In [ ]:
# create a string / single quote , double quote
example_string = "abd"
example_string = 'abd'

### Multi-line Strings

In [ ]:
# multi-line string/ double quotes
example_mutli_line_string = """
this
is
a
multiline
string"""

# single quotes
example_mutli_line_string = '''
this
is
a
multiline
string
'''

## String Indexing/Slicing

In [ ]:

# string indexing / slicing, negative indexing
country = "Senegal"

# indexing
print (country[0])
print (country[1])
print (country[2])

# negative index
print (country[-1])

# slicing
print (country[1:3])

S
e
n
l
en

## Strings Immutability

In [ ]:
# strings are immutable
subject = "History"
subject[0] = "I"
print (subject)

TypeError: 'str' object does not support item assignment

## String Operations

In [ ]:
# strings comparison
str1 = "Hello"
str2 = "Hi"
str3 = "Hello"

print(str1 == str2)
print(str1 == str3)

False
True

In [ ]:
# strings concatenation
str1 = "Hello"
str2 = "World!"
result = str1 + " " +str2
print (result)

Hello World!

## String Length

We can use the python built-in `len` function to return the string length

In [ ]:
country = "Senegal"
length = len(country)
print (length)

7

## String Methods

There are many useful methods that python provide us to manipulate and work with strings. We are going to cover some of them in this tutorial. Refer yourself to the documentation for a comprehensive list of python string methods

### Convert to Lowercase/Uppercase

use the upper and lower string methods to convert your string to uppercase or lowercase respectively

In [ ]:
country = "senegal"
print (country.upper())

country = "CAMEROON"
print(country.lower())

SENEGAL
cameroon

### Splitting

We can use the `split('')` method to split our string into a list of strings based on some delimiter or using a Specific Separator.

In [ ]:
countries = "Senegal,Cameroon,Mali,RSA"
print (countries.split(','))

countries = "Senegal Cameroon Mali RSA"
print (countries.split())

['Senegal', 'Cameroon', 'Mali', 'RSA']
['Senegal', 'Cameroon', 'Mali', 'RSA']

We can also use split('') method by specifying the Maximum Number of Splits if we have a string.

In [ ]:
sentence = "This is a sample sentence."
words = sentence.split(maxsplit=2)

print(words) #The maxsplit parameter is set to 2, so the string is split into three parts.

['This', 'is', 'a sample sentence.']

Finally, we can split Lines from a Multi-line String.

In [ ]:
sequence = """Line 1: First line
Line 2: Second line
Line 3: Third line"""

lines = sequence.split('\n')

print(lines)

['Line 1: First line', 'Line 2: Second line', 'Line 3: Third line']

### Finding a Substring in a String

The `find` method can be used to find the index of the first occurence of a substring in a string

In [ ]:
example_string = 'I love python'
index = example_string.find("love")
print (index)

2

### Replacing a Substring with Another String

The string `replace` method can be utilized to replace a substring occuring in our string with another substring

In [ ]:
example_string = 'I love python'
result = example_string.replace("love", "hate")
print (result)

I hate python

## String Formatting

An f-string is an easy way that you find handy to format strings in python. Just precede the string single/double quote by `f` and use the curly brackets to enclose variables that you want their values to appear in the formatted string

In [ ]:
language = "Python"
result = f'I love {language}'
print(result)

num_brothers = 3
result = f'I have {num_brothers} brothers'
print (result)

I love Python
I have 3 brothers

# Lists

Python list is a versatile and mutable (modifiable) data structure that stores an ordered collection of items.
Some lists properties:


*   **Ordered Collection**

Lists maintain the order in which elements are inserted. You can access elements in a list using their index, starting from 0 for the first element.
*   **Mutable**

Lists can be modified after creation. You can add, remove, or modify elements in a list.
*   **Dynamic Size**

Lists in Python are dynamic, meaning they can grow or shrink in size as needed. You can change the size of a list by adding or removing elements.
*   **Heterogeneous Elements**

A list can contain elements of different data types, including integers, floats, strings, or even other lists.

## List Creation

In [ ]:
countries = ["Senegal", "Rwanda", "Chad"] # list of strings
heights = [180, 190, 200, 155] # list of int
weights = [12, 14.5, 16,40.1] # list of float and int

## List Indexing

In [ ]:
countries = ["Senegal", "Rwanda", "Tchad"]
print (countries[0]) # list indices start at 0 and end at list length -1
print (countries[1])
print (countries[2])

# negative indexing
print (countries[-1]) # the last element
print (countries[-2]) # the element before the last

Senegal
Rwanda
Tchad
Tchad
Rwanda

## List Slicing

list[start:stop:step]

	•	start: The index where slicing begins (inclusive).
	•	stop: The index where slicing ends (exclusive, meaning the element at this index is NOT included).
	•	step: The interval between elements.

In [ ]:
countries = ["Senegal", "Rwanda", "Chad", "Morocco", "Sudan", "Uganda", "Kenya"]
# list_slice = countries[0:2] # returns a sub-list starting from index 0 and ending at index 2 exclusive, index 2 is not included

another_slice = countries[::2]

# third_slice = countries[:4]
# list_slice, another_slice, third_slice
another_slice

['Senegal', 'Chad', 'Sudan', 'Kenya']

## List Length

In [ ]:
# use the len function to return the length of list/ number of elements
countries = ["Senegal", "Rwanda", "Chad", "Morocco", "Sudan", "Uganda", "Kenya"]
num_countries = len(countries)
num_countries

7

## List Methods

### `append`

We use the `append` method to add an element at the end of list

In [ ]:
countries = ["Senegal", "Rwanda", "Chad", "Morocco", "Sudan", "Uganda", "Kenya"]
countries.append("Somalia")
countries

['Senegal', 'Rwanda', 'Chad', 'Morocco', 'Sudan', 'Uganda', 'Kenya', 'Somalia']

### `extend`
`extend` method is used to add elements from another list after the end of **our** list

In [ ]:
africa = ["Senegal", "Rwanda", "Chad", "Morocco", "Sudan", "Uganda", "Kenya"]
europe = ["UK", "France", "Germany"]
africa.extend(europe)
print (africa)

['Senegal', 'Rwanda', 'Chad', 'Morocco', 'Sudan', 'Uganda', 'Kenya', 'UK', 'France', 'Germany']

### `insert`
We use the `insert` method to insert an item to the list at the specified index

In [ ]:
europe = ["UK", "France", "Germany"]
europe.insert(0,"Greece")
europe.insert(1, 'spanish')
print (europe)

['Greece', 'spanish', 'UK', 'France', 'Germany']

### `remove`
removes an item from the list

In [ ]:
europe = ["UK", "France", "Germany"]
europe.remove("UK")
print (europe)

['France', 'Germany']

### `pop`
returns and removes an item from the list at given index/ the last element is popped if index not provided

In [ ]:
salaries = [5000, 1200, 3000,1100.1]
salary = salaries.pop(0)
salary,salaries

(5000, [1200, 3000, 1100.1])

### `sort`
sort the list in ascending/descending order

In [ ]:
salaries = [5000, 1200, 3000,1100.1]
salaries.sort(reverse=False)
print (salaries)

[1100.1, 1200, 3000, 5000]

### `reverse`
Reverses the order of the elements in the list.

In [ ]:
salaries = [5000, 1200, 3000,1100.1]
salaries.reverse()
print (salaries)

[1100.1, 3000, 1200, 5000]

### `copy or [:]`
Creates a shallow copy of the list. You can also use the slicing notation [:] for copying.

In [ ]:
original_salaries_list = [5000, 1200, 3000,1100.1]
copied_list_ = original_salaries_list.copy()
# or
copied_list = original_salaries_list[:]
copied_list_, copied_list

([5000, 1200, 3000, 1100.1], [5000, 1200, 3000, 1100.1])

## Changing List Elements at a Specified Index

Lists are mutable, that means we can update or change list elements after the creation of the list

In [ ]:
salaries = [5000, 1200, 3000,1100.1]
salaries[1] = 6000
print (salaries)
salaries[0:2] = [1,4]
print (salaries)

[5000, 6000, 3000, 1100.1]
[1, 4, 3000, 1100.1]

# Tuples

A python tuple is an ordered and immutable collection of elements. Tuples are similar to lists in that they can store multiple items, but they differ in key aspects:



*   **Immutable**

Once a tuple is created, its elements cannot be modified, added, or removed. This immutability distinguishes tuples from lists, which are mutable.

*   **Ordered**

Tuples maintain the order of elements, meaning the position of each element is preserved.

In [ ]:
countries = ("UK", "Germany", "France")
countries = 1, 2.5, "Senegal"

In [ ]:
test = ("her", "her", "it")
test

('her', 'her', 'it')

## Single-element Tuples

In [ ]:
x = ("test",)

## Tuple Indexing/Slicing

In [ ]:
countries = ("UK", "Germany", "France")
print (countries[0]) # tuples are zero indexed
print (countries[-1]) # negative indexing
print (countries[:]) # slicing similar to lists

UK
France
('UK', 'Germany', 'France')

## Tuple Length

The `len` function is used to return length/number of elements of the tuple

In [ ]:
countries = ("UK", "Germany", "France")
print (len(countries))

3

## Tuple Immutability

Python tuples are immutable, that means we are not able to change or update tuple elements after  creation of the tuple object

In [ ]:
countries = ("UK", "Germany", "France")
countries[0] = "Greece" # does not work

TypeError: 'tuple' object does not support item assignment

## Iterating Through Tuples

In [ ]:
fruits = "apple", "mango", "orange", "banana"

for fruit in fruits:
  print (fruit)

apple
mango
orange
banana

# Sets

A python set is an unordered and mutable collection of unique elements. Sets are defined by enclosing a comma-separated sequence of elements within curly braces {}. The elements in a set must be unique, and the order of elements is not guaranteed to be preserved.


*   **Uniqueness**

Sets do not allow duplicate elements. If you attempt to add an element that is already present, the set remains unchanged.

*   **Unordered**

The elements in a set are not stored in any particular order. This means that sets do not support indexing or slicing.

*   **Mutable**

You can add or remove elements from a set after its creation.

### Set Creation

In [ ]:
empty_set = set() # empty set created using the set function
countries = {"UK", "Germany", "France"} # a set of strings
quanitities = {12, 13.4,4,5,6}
measurements = {12.4, 45.1, 56.55, 56.55} # notice the set removing duplications
print (measurements)

{56.55, 12.4, 45.1}

In [ ]:
quantities = {12, 13.4,4,5,(2,3,2)}
quantities

{(2, 3, 2), 12, 13.4, 4, 5}

### Set Methods

### `add`
adds an element to the set

In [ ]:
countries = {"UK", "Germany", "France"} # a set of strings
countries.add("Netherlands")
print (countries)

TypeError: set.add() takes exactly one argument (2 given)

### `remove`
remove a specified element from the set

In [ ]:
countries = {"UK", "Germany", "France"}
countries.remove("UK")
print (countries)
countries.remove("Greece")

{'France', 'Germany'}

KeyError: 'Greece'

### `discard`

We use the discard method to remove an element from the set. Unlike `remove` the `discard`  method does not raise an error if the element does not exist in the set

In [ ]:
countries = {"UK", "Germany", "France"}
countries.discard("Greece")

### `update`
update the set by adding the elements of another set/ performing the union of the set with another set

In [ ]:
countries = {"UK", "Germany", "France"}
countries.update({"UK", "Spain", "Norway"}) # returns None/ changes the set in place
print (countries)

{'UK', 'France', 'Norway', 'Germany', 'Spain'}

### `union`

returns the union of the set with another set

In [ ]:
countries = {"UK", "Germany", "France"}
result = countries.union({"UK", "Spain", "Norway"})
print (result)

{'UK', 'France', 'Norway', 'Germany', 'Spain'}

### `intersection`

returns the intersection of the set with another set

In [ ]:
countries = {"UK", "Germany", "France"}
result = countries.intersection({"UK", "Spain", "Norway"})
print(result)

{'UK'}

### `difference`

performs the difference operation/elements that belong to the set but do not belong to the other set

In [ ]:
countries_a = {"UK", "Germany", "France"}
countries_b = {"UK", "Spain", "Norway"}
a_minus_b = countries_a.difference(countries_b)
b_minus_a = countries_b.difference(countries_a)
print(a_minus_b)
print(b_minus_a)

{'UK'}

### Check if an element exists in the set

We use the `in` keyword to check if a given element exist in the set

In [ ]:
countries = {"UK", "Germany", "France"}

result = "Ukraine" in countries
print (result)

False

Notes :
- sets are very efficient in the operation of checking if an element exists in the set or not. It takes constant time to do that in set, wheras we need linear time to do the same operations in lists and tuples
- set elements have to be hashable (`int`, `float`, `tuple`, `str`),
 we cannot have `list` as set elements

#Dictionaries

Python Dictionaries are mutable and unordered collections of key-value pairs. Dictionaries are also sometimes referred to as associative arrays, hash maps, or hash tables in other programming languages.



*   **Unordered**

The order of elements in a dictionary is not guaranteed. Starting from Python 3.7, the insertion order is maintained, but it is essential to treat dictionaries as unordered collections.

*   **Mutable**

Dictionaries can be modified after creation. You can add, remove, or update key-value pairs.

*   **Key-Value Pairs**

Each element in a dictionary consists of a key and its associated value. Keys must be unique within a dictionary.

## Dictionary Creation
dictionary keys should be of a hashable type: `str`, `int`, `float`, `tuple`

In [ ]:
countries_capitals = {"Cameroon":"Yaoundé", "Senegal":"Dakar", "Egypt":"Cairo", "Sudan":"Khartoum"}
country_capitals = dict(cameroon="Yaoundé", Senegal="Dakar")
print (country_capitals)

{'cameroon': 'Yaoundé', 'Senegal': 'Dakar'}

In [ ]:
country = {"damaris":2.5 , "stephanie":6}

## Access Dictionary Keys

We can access the dictionary keys by putting the dictionary key name between
`[]`

In [ ]:
country_capitals = dict(cameroon="Yaoundé", Senegal="Dakar")
country_capitals['cameroon']

'Yaoundé'

In [ ]:
my_dictionnary = {1: "Damaris", 2: "Stephanie", 3:"Ndjebayi"}

name = " "

for values in my_dictionnary.values():
  name = name + values + " "


print(f"Her name is {name} ")

Her name is  Damaris Stephanie Ndjebayi

In [ ]:
my_dictionnary = {1: "Monday", 2: "Tuesday", 3: "Wednesday", 4: "Thursday"}

## Update Dictionary Values

In [ ]:
countries_capitals = {"Cameroon":"Yaoundé", "Senegal":"Dakar", "Egypt":"Cairo", "Sudan":"Khartoum"}
countries_capitals ["Cameroon"] = "Douala"

## Dictionary Methods

### items()

We can access the dictionary key/values as tuples using the `items()` method

In [ ]:
country_capitals = dict(cameroon="Yaoundé", Senegal="Dakar")
for key,value in country_capitals.items():
  print (key,value)

cameroon Yaoundé
Senegal Dakar

In [ ]:
my_list = country_capitals.items()
my_list

dict_items([('cameroon', 'Yaoundé'), ('Senegal', 'Dakar')])

### keys()

Also we can access the dictionary keys by calling the `keys()` method

In [ ]:
country_capitals = dict(cameroon="Yaoundé", Senegal="Dakar")
print (country_capitals.keys())

dict_keys(['cameroon', 'Senegal'])

### values()
Also we can access the dictionary values by calling the `values()` method

In [ ]:
students_marks = {"Alex": 55, "Alice":90, "John":95}
students_marks.values()

dict_values([55, 90, 95])

## Removing an Element from the Dictionary

To delete a dictionary key/value, use the `del` statement followed by the dictionary key that you want to delete

In [ ]:
del country_capitals['cameroon']

In [ ]:
country_capitals

{'Senegal': 'Dakar'}

We can delete all the keys in the dictionary using the `clear()` method

In [ ]:
country_capitals.clear()

In [ ]:
country_capitals

{}

### `update()`

We use the `update` to update the dictionary with keys and values from another dictionary

In [ ]:
country_capitals =  {"Senegal":"Dakar", "Cameroon":"Younde", "Egypt":"Cairo"}
more_capitals = {"Sudan":"Khartoum", "Egypt":"Alexandria"}
country_capitals.update(more_capitals)

In [ ]:
country_capitals

{'Senegal': 'Dakar',
 'Cameroon': 'Younde',
 'Egypt': 'Alexandria',
 'Sudan': 'Khartoum'}

# Slicing

Slicing notation is used to extract a portion (or slice) of a sequence, such as a list or a string, based on indices. It allows you to specify a start index, an end index, and an optional step size to determine which elements to include in the slice.

      $sequence[start:end:step]$

In [ ]:
numbers = [2, 3, 4, 5, 8, 10]
slice = numbers[1:4]
print(slice)

[3, 4, 5]

Slicing are supported by **string, list, tuples**; but not by **set** and **dictionnaries**. In fact, they are unordered collections, so, they don't support indexing.

# Python I/O

## Python Output

We can display text to the screen using the python built-in `print` function as you did in the hello world example. There are more advanced ways of using the `print` function we are going to explore through this section.

Here is the complete definition of the print function
`print(object=, end='\n', file=, sep= , flush=`)

- `object` is the object we want to print
- `end` the character to add after each call for print, newline by default  
- `sep` allows us to add a character to separate multiple objects
- `flush` specifies if the output is flushed or buffered
- `file` output file, standard output by default

In [ ]:
print?

In [ ]:
print("I","love python")

I love python

## Handling Input

We can read user input by using the `input` function, we pass it the prompt that we want to display to the user. the `input` function returns  the input string that the user typed. We can store it in a variable and print it as you see in this example

In [ ]:
type(input('Please enter your age '))

Please enter your age 4

str

In [ ]:
age = eval(input('9'))
type(age)
#print ("Your age is "+age)

97

int

### Excercise:
write a python program that asks the user to input two numbers and prints their summation

In [ ]:
num1 = input("Please enter a number")
num2 = input("Please enter a number")

print ("The sum is :", int(num1)+int(num2))

Please enter a number4
Please enter a number5
The sum is : 9

# Conditionals

## If statement
we use if statement to execute a block of code based on the evaluation of a conditional expression

```
# syntax for if statement
if condition:
  # block of code

# if the condition evaluates to True the given block of code is executed, skipped otherwise  
```

In [ ]:
age = 20
if age >= 60:
  print ("Too Old")

## if ... else ...

We can use the `else` keyword to instruct python to execute a block of code in the case that the if condition is not met

```
# syntax for if .. else..

if condition:
   # do something
else:
   # do something else

```

In [ ]:
mark = 40
if mark >=50:
  print ("Pass")
else:
  print ("Fail")

Fail

## if .. elif .. else

if/else statement is used when we have only one condition. If we have multiple conditions, and we want to execute a block of code based on the evaluation of each condition, it is possible to use the `if elif else` statement

```
if condition1:
  # block 1
elif condition2:
  # block 2
elif condition3:
  # block 3
else:
  # block 4      
```
if condition1 evalutates to `True` block 1 is executed and everything else is skipped, otherwise we check for condition 2 and condition 3 in a similar manner, if all of the conditions evaluates to False, the else block is executed

## Exercise: Grade Calculator

Write a program that calculates a student's final grade based on the following criteria:

90 or above: A+

80 to 89: A

70 to 79: B

50 to 60: C

Below 50: F

# Loop

## For loop

### The range function

`range(start, stop)`

We use the range function to generate a sequence starting with a value `start` and stoping at a value `stop`, the value `start` has to be less than or equal to `stop`.

In [ ]:
sequence = range(54,50,-1)
print (list (sequence))

[54, 53, 52, 51]

### For loop with other sequence types (strings/lists/tuples)

Also, for loops can be used with other data types that have a sequential nature, such as : `string`, `list`, `tuple`, `set`

In [ ]:
example = "Python is beautiful"

for char in example:
  print (char, end=" ")

P y t h o n   i s   b e a u t i f u l

### Exercise

Write a program that compute the summation of integers from 1 to 100,
i.e. result = `1+2+3+...+99+100`

### Exercise

Write a Python program to reverse a string

Sample input : `"abcdefg"`

Expected Output : `"gfedcba"`

### `break` statement

we use the break exit the execution of a loop , before all iterations have completed. When a break statement is encountered inside a loop, the loop is immediately terminated, and the program control resumes after the loop.

In [ ]:
# use the break statement to find the index of the first occurence of the letter a in a string
string = "examplestring"
for i in range(len(string)):
  if string[i] == "a":
    print (i)
    break

2

### `continue` statement

The `continue` statement is used to skip the current iteration of a loop and move on to the next iteration. When a continue statement is encountered inside a loop, the current iteration of the loop is skipped, and the program control moves directly to the next iteration of the loop.

In [ ]:
# use the continue statement to print only odd numbers
for i in range(20):
  if i%2 == 0:
    continue
  print (i)

1
3
5
7
9
11
13
15
17
19

## While loop

We use while loops to execute a block of code while a given condition is met

```
while condition:
  # block of code


```

In [ ]:
# Example: Print numbers from 1 to 5 using a while loop
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

### Exercise
Write a program to print the numbers from 1 to 10 using a while loop

### Exercise

Write a program to implement a simple guessing game. The user is prompted to enter their guess each time through the loop. Once the correct number is entered (the user guess == `secret_number`), the loop exits and a message is displayed indicating that the user got it right.

# Functions

A function is a block of code that performs a specific operation and executed when it is called

## Function Definition

```
def function_name():
  # function code here
```

In [ ]:
def say_hi() :
  print ("Hi Damaris")

## Function Call

In [ ]:
say_hi()

Hi Damaris

## Functions with single/multiple Arguments

In [ ]:
# a single argument function
def say_hi (name):
  print ("hi "+name)
say_hi("Damaris")

hi Damaris

In [ ]:
def print_elements(x):
  for i in x:
    print (i)

In [ ]:
# a function with multiple arguments
def say_hi(fname, lname):
  print ("Hi "+fname+" "+lname)


say_hi("Ndjebayi", "Damaris")

Hi Ndjebayi Damaris

## Keyword Arguments

In addition to passing arguments in the order specified by the function definition, you can also use keyword arguments to pass values to a function. Keyword arguments allow you to specify the arguments by name, rather than by position.

In [ ]:
def say_hi(fname, lname):
  print ("Hi "+fname+" "+lname)


say_hi("Ndjebayi", "Damaris")
say_hi(fname="Ndjebayi", lname="Damaris")

Hi Ndjebayi Damaris
Hi Ndjebayi Damaris

## `return` statement

The `return` statement is used to specify the value that a function should return to the caller. It allows you to capture the output of the function and assign it to a variable, or use it in other expressions.

In [ ]:
def add(a:int, b:int) -> int:
  result = a+b
  # print (result)
  return result

summation = add(5, 6)
print (summation)

11

## Parameters with default value

We can specify default values for some of the function parameters. The parameters that have default values should be placed after the parameters without default values in the function definition. This is because the parameters with default values are optional and can be omitted in the function call, while the parameters without default values are required and must be passed in the function call.

In [ ]:
def add(a, b=5):
  return a+b

add(4)

9

# Exercises

## Exercise

Write a function `maximum` that returns the maximum of two numbers

## Exercise

Define a function named `square` that takes an argument `x` and returns the `square` of `x`.

## Exercise

Define a function named `calculate_avg` that takes a list of numbers as an argument and returns the average of the numbers in the list.

## Exercise

Define a function named `to_decimal` that takes number in base 2 and convert it in base 10

# File Handling

File Handling is a tool use to handle files in programming.In Python, we can use it to read and write files; it also provide many other file handling options, to operate on files. The concept of file handling has stretched over various other languages, but the implementation is either complicated or lengthy, like other concepts of Python, this concept here is also easy and short. In python, each line of code/document that includes a sequence of characters, is terminated with a special character, called the EOL or End of Line characters like comma {,} or newline character. It ends the current line and tells the interpreter a new one has begun. Let’s start with the reading and writing files.

##Opening and Closing Files


*   To open a file, use the *'open()'* function; it return a file object.
*   The *'with'* statement is preferred as it automatically closes the file when done.

In [ ]:
# Creating and writing to a file
with open('example.txt', 'w') as file:
    file.write("Welcome to AMMI 2025-2026 Class. We are following Introduction to Python course. \nHope you're enjoying and will keep learning!! \nIn today's class we are learning python basics and \n tomorrow we will learn numpy basics.")

In [ ]:
# Opening a file in read mode
with open('example.txt', 'r') as file:
    content = file.read()
    print(content)

Welcome to AMMI 2025-2026 Class. We are following Introduction to Python course.
Hope you're enjoying and will keep learning!!
In today's class we are learning python basics and
 tomorrow we will learn numpy basics.


Modes:

*   'r': Read (default). Opens a file for reading, error if the file does not exist
*   'w': Write (creates a new file or truncates an existing file).
*   'a': Append (creates a new file or appends to an existing file).
*   'x': Exclusive creation, if the file already exists, the operation will fail.

In addition you can specify if the file should be handled as binary or text mode with:

*  'b': Binary mode.
*  't': Text - Default value. Text mode

## Reading from Files

You can use methods like *'read()'*, *'readline()'*, or *'readlines()'* to read content from files.

In [ ]:
with open('example.txt', 'r') as file:
    content = file.read()  # Reads the entire file
    print(content)

Welcome to AMMI 2025-2026 Class. We are following Introduction to Python course.
Hope you're enjoying and will keep learning!!
In today's class we are learning python basics and
 tomorrow we will learn numpy basics.

The following syntax is also correct:

In [ ]:
f = open("example.txt", "r")
print(f.read())

Welcome to AMMI 2025-2026 Class. We are following Introduction to Python course.
Hope you're enjoying and will keep learning!!
In today's class we are learning python basics and
 tomorrow we will learn numpy basics.

By default the read() method returns the whole text, but you can also specify how many characters you want to return.

In [ ]:
f = open("example.txt", "r")
print(f.read(10)) #Will return the 10 first characters of the file

Welcome to

You can return one line by using the readline() method:

In [ ]:
with open('example.txt', 'r') as file:
    line = file.readline()  # Reads one line at a time
    print(line)

Welcome to AMMI 2025-2026 Class. We are following Introduction to Python course.

By calling readline() two times, you can read the two first lines; and by looping through the lines of the file, you can read the whole file, line by line.

In [ ]:
f = open("example.txt", "r")
for x in f:
  print(x)

Welcome to AMMI 2025-2026 Class. We are following Introduction to Python course.

Hope you're enjoying and will keep learning!!

In today's class we are learning python basics and

 tomorrow we will learn numpy basics.

The readlines() method returns a list containing each line in the file as a list item.

*  Use the hint parameter (which is optional) to limit the number of lines returned. If the total number of bytes returned exceeds the specified number, no more lines are returned.
*  You can also split lines while reading files in Python. The split() function splits the variable when space is encountered. You can also split using any characters as you wish.

In [ ]:
with open("example.txt", "r") as file:
    data = file.readlines()
    for line in data:
        word = line.split()
        print (word)

['Welcome', 'to', 'AMMI', '2025-2026', 'Class.', 'We', 'are', 'following', 'Introduction', 'to', 'Python', 'course.']
['Hope', "you're", 'enjoying', 'and', 'will', 'keep', 'learning!!']
['In', "today's", 'class', 'we', 'are', 'learning', 'python', 'basics', 'and']
['tomorrow', 'we', 'will', 'learn', 'numpy', 'basics.']

Nice Practice: It is a good practice to always close the file when you are done with it.
Why?


*   **Resource Management**

When a file is opened, system resources are allocated to maintain the connection between the file and the program. Failing to close a file leaves these resources occupied, potentially leading to issues such as running out of file descriptors.
*   **Concurrency and Synchronization**

Closing files appropriately is essential when dealing with multi-threaded or multi-process applications to avoid issues related to file access synchronization.
*   **File Locking**

On some systems, failing to close a file might prevent other processes or applications from accessing or modifying the same file due to file locking mechanisms

## Writing to Files

To write to an existing file, you must add a parameter to the open() function:


*   "a" - Append - Using with Open() will create a file if the specified file does not exist and you will be able to append some content to the end of the file
*   "w" - Write - will overwrite any existing content
*   "x" - Create - will create a file, returns an error if the file exist

In [ ]:
f = open("example_file.txt", "a")
f.write("Now the file has more content!")
f.close()

#open and read the file after the appending:
f = open("demofile2.txt", "r")
print(f.read())

Now the file has more content!

## Delete a File

To delete a file, you must import the OS module, and run its os.remove() function.
You may get an error if the file doesn't exists. To handle the exception raises, you can either use an if/else statement or use the try/catch block that we will see in the following session.

In [ ]:
import os
if os.path.exists("demofile.txt"):
  os.remove("demofile.txt")
else:
  print("The file does not exist")

The file does not exist

You can also use os.rmdir() to delete an entire folder.

# Exception Handling

When running a python code, many issues can appears, but this morning, we will more focus on two: **Syntax errors and Exceptions**.

What's a syntax error?

*   As the name suggests this error is caused by the wrong syntax in the code. It leads to the termination of the program.

What's an exceptions?  

*   Exceptions are raised when the program is syntactically correct, but the code results in an error. This error does not stop the execution of the program, however, it changes the normal flow of the program.

In [ ]:
# Synstax error example
score = '10'

for i in range(100):
  if i == score
    print("It passes")
  score += i

SyntaxError: expected ':' (<ipython-input-135-8dcc58e4774f>, line 5)

In [ ]:
# Exception example
score = '10'

for i in range(100):
  if i == score:
    print("It passes")
  score += i

TypeError: can only concatenate str (not "int") to str

## Type of errors in Python

In Python, there are several built-in Python exceptions that can be raised when an error occurs during the execution of a program. Here are some of the most common types of exceptions in Python:


*   **SyntaxError**

This exception is raised when the interpreter encounters a syntax error in the code, such as a misspelled keyword, a missing colon, or an unbalanced parenthesis.
*   **TypeError**

This exception is raised when an operation or function is applied to an object of the wrong type, such as adding a string to an integer.
*   **NameError**

This exception is raised when a variable or function name is not found in the current scope.
*   **IndexError**

This exception is raised when an index is out of range for a list, tuple, or other sequence types.
*   **KeyError**

This exception is raised when a key is not found in a dictionary.
*   **ValueError**

This exception is raised when a function or method is called with an invalid argument or input, such as trying to convert a string to an integer when the string does not represent a valid integer.
*   **AttributeError**

This exception is raised when an attribute or method is not found on an object, such as trying to access a non-existent attribute of a class instance.
*   **IOError**

This exception is raised when an I/O operation, such as reading or writing a file, fails due to an input/output error.
*   **ZeroDivisionError**

This exception is raised when an attempt is made to divide a number by zero.
*   **ImportError**

This exception is raised when an import statement fails to find or load a module.

## Try and Except Statement – Catching Exceptions

Try and except statements are used to catch and handle exceptions in Python. Statements that can raise exceptions are kept inside the try clause and the statements that handle the exception are written inside except clause.

In [ ]:
try:
    # Code that might raise an exception
    result = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero!")

Cannot divide by zero!

### Catching Specific Exception

A try statement can have more than one except clause, to specify handlers for different exceptions. Please note that at most one handler will be executed; Not necessarly all the exceptions will be raise by the same time.

In [ ]:
def fun(a):
    if a < 4:
        b = a/(a-3)
    print("Value of b = ", b)

try:
    fun(3)
    fun(5)
except ZeroDivisionError:
    print("ZeroDivisionError Occurred and Handled. ")
except NameError:
    print("NameError Occurred and Handled.")

ZeroDivisionError Occurred and Handled.

### Try with Else Clause

You can also use the else clause on the try-except block which must be present after all the except clauses. The code enters the else block only if the try clause does not raise an exception.

In [ ]:
try:
    result = 10 / 2
except ZeroDivisionError:
    print("Cannot divide by zero!")
else:
    print(f"Result: {result}")

Result: 5.0

### Finally Keyword

Python provides a keyword finally, which is always executed after the try and except blocks. The final block always executes after the normal termination of the try block or after the try block terminates due to some exception.

In [ ]:
try:
    k = 5//0
    print(k)

except ZeroDivisionError:
    print("Can't divide by zero")
else:
    print("No ZeroDivision exception")
finally:
    print('This is always executed')

Can't divide by zero
This is always executed

## Raising Exception

As a Python developer you can choose to throw an exception if a condition occurs.

To throw (or raise) an exception, use the raise keyword.

In [ ]:
x = -5
if x < 0:
    raise ValueError("Please, x should be a non-negative number")

ValueError: Please, x should be a non-negative number

The raise keyword is used to raise an exception.

You can define what kind of error to raise, and the text to print to the user.

In [ ]:
x = "hello"

if not type(x) is int:
  raise TypeError("Sorry, only integers are allowed")

TypeError: Sorry, only integers are allowed

Notes: It's also possible to define some classes as custom exceptions. And raise excepton based on the custon exceptions that you defined. [Reference](https://martinxpn.medium.com/custom-exceptions-in-python-creating-custom-exceptions-59-100-days-of-python-4f26de8e851d)

# Exercises

## Exercise 01

Write a script that takes as input a list of unique employees's salaries where salary[i] is the salary of the ith employee.

It returns the average salary of employees excluding the minimum and maximum salary.

Input: salary = [4000,3000,1000,2000]

Output: 2500.00000

## Exercise 02

Given an integer array nums and an integer k, write a script that returns true if there are two distinct indices i and j in the array such that nums[i] == nums[j] and abs(i - j) <= k.

## Exercise 03

The k-beauty of an integer num is defined as the number of substrings of num when it is read as a string that meet the following conditions:

*  It has a length of k.
*  It is a divisor of num.

Given integers num and k, return the k-beauty of num.

## Exercise 04

You are given two strings s and t.

String t is generated by random shuffling string s and then add one more letter at a random position.

Return the letter that was added to t.

In [ ]:
# You can check with
# Input: s = "abcd", t = "abcde"
# Output: "e"

## Exercise 05

Given a string s consisting of words and spaces, return the length of the last word in the string.

A word is a maximal
substring
 consisting of non-space characters only.

In [ ]:
# You can check with
# Input: s = "Hello World"
# Output: 5

# For the next time session

*   Install python in your local machine
*   Install an IDE of your choice in your local machine